:root {
    --preto: #000000;
    --branco: #FFFFFF;
    --laranja: #FF8C00;

    --p: 15px;
    --m: 24px;
    --g: 28px;
    --xg: 38px;
    --xxg: 47px;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body{
    background-color: #000000;
    color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Inter", sans-serif;
}

nav, section{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav > div, section > div{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    font-size: var(--p);
}
h2{
    font-size: var(--xg);
    font-weight: 800;
}
h3{
    font-size: var(--g);
    font-weight: 700;
}
h4{
    font-size: var(--m);
    font-weight: 700;
}

ul{
    list-style: none;
}

button{
    color: var(--preto);
    background-color: var(--branco);

    padding: 15px 25px;
    border-radius: 4px;
    font-size: var(--p);
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    opacity: 0.75;
    transition: 500ms;
}
button:has(.icon) > .icon{
    margin-right: 15px;
}

img{
    width: 100%;
    height: 100%;
}