nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav > div{
  width: 88%;
  padding: 2cqi;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav > div > *{
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerImg > img{
  width: 50%;
}

.containerLinks{
  width: 20%;
  justify-content: space-between;
}
.containerLinks > li{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.containerBotao{
  justify-content: end;
}
.containerBotao button{
  color: var(--laranja);
  background-color: inherit;
  border: solid 1px var(--laranja);
  padding: 15px 25px;
}
.containerBotao button:hover{
  opacity: 1;
  background-color: var(--branco);
}
