.valueCard{
    background-color: var(--branco);
    color: var(--preto);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    gap: 0.5em;
    width: 280px;

    border: solid 2px var(--laranja);
    box-shadow: 0 0 12px var(--laranja);
}

.valueCard h4{
    font-size: 1.2em;
    color: var(--laranja);
}
.valueCard hr{
    margin: 5px 0 0 0;
    width: 100%;
    background-color: var(--cinza);
    opacity: 0.2;
}

.valueCard p, .valueCard li{
    line-height: 1.5em;
}

.valueCard > ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.9em;
    margin: 15px 0;
}
.valueCard > ul > li{
    display: flex;
    flex-direction: row;
    align-items: start;
    column-gap: 1em;
}

.valueCard .icon{
    color: var(--laranja);
    margin-top: 3.8px;
}